.content{
    margin: 2px;
}
form{
    margin: 10px;
}
.budget{
    border: solid green 2px;
    width: 80%;
}
.expense{
    border: solid red 2px;
    width: 80%;
}
input{
    margin-top: 5px;
    width: 95%;
    border-radius: 2px;
}
.green{
    border: green solid 1px;

}
.red{
    border: red solid 1px;

}
button{
    margin-top: 10px;
    padding: 5px;
    border-radius: 2px;
    text-align: center;
}
.btn-green{
    border: green solid 1px;
    color: green;
}
.btn-red{
    border: red solid 1px;
    color: red;
}

.left-content{
    padding: 5px;
    width:40%;
    float:left;
}
.right-content{
    padding: 5px;
    width:58%;
    float:right;
}
table{
    width: 100%;
}
.edit{
    font-size:35px;color:#007ACC;padding: 2px;
}
.trash{
    font-size:35px;color:red;padding: 2px;
}

.red-color{
    color:red;
}

